<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is home page.</h1>
    <p>Click <a href="/about" >here</a> for about.</p>
    <p>Click <a href={% url 'users:regd' %} >here</a> for new registration</p>
    <p>Click <a href={% url 'users:login' %} >here</a> to login</p>
    <p>Click <a href={% url 'users:logout' %} >here</a> for logout</p>
</body>
</html>